@inherits LayoutComponentBase
@using MyApp.Web.Shared.Components



@inject NavigationManager NavManager

<div class="min-h-screen flex bg-gray-50">
    <Sidebar />

    <!-- Main Content Area -->

    <div class="flex-1 p-8">
        @Body
    </div>

</div>