services:
  web:
    build: .
    container_name: flat_management_web
    ports:
      - "5000:80" # bisa diakses localhost:5000
    depends_on:
      - db
      - redis
    environment:
      - DOTNET_RUNNING_IN_CONTAINER=true
      - DOTNET_URLS=http://+:80
      - ConnectionStrings__DefaultConnection=server=db;database=FMS_DB;user=root;password=secret@Bcd123
      - ConnectionStrings__Redis=redis:6379

  db:
    image: mysql:8.0
    container_name: flat_management_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: secret@Bcd123
      MYSQL_DATABASE: FMS_DB
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  redis:
    image: redis:7
    container_name: flat_management_redis
    ports:
      - "6379:6379"

volumes:
  db_data:
