@using Microsoft.AspNetCore.Components.Forms

<div class="validation-message">
    @foreach (var message in messages)
    {
        <div class="text-red-500 text-sm mt-1">@message</div>
    }
</div>

@code {
    private List<string> messages = new();

    public void DisplayErrors(IEnumerable<string> errors)
    {
        messages = errors.ToList();
        StateHasChanged();
    }

    public void ClearErrors()
    {
        messages.Clear();
        StateHasChanged();
    }
}